@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Montserrat;
}

body {
  background-color: white;
}

h1,
h2,
h3 {
  font-family: Source_Sans_3;
}

/****************HEADER****************/
header {
  background-color: #a306b6;
  color: white;
  height: 50vh;
  display: grid;
  justify-items: center;
  padding: 0.5rem;
  grid-template-columns: 1fr;
}

header img:first-of-type {
  width: 40px;
}

header img:nth-of-type(2) {
  border: 2px solid white;
  border-radius: 300px;
  width: 30%;
}

nav {
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 992px) {
  header {
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
  }

  header nav {
    padding: 3rem;
    grid-column: 2 / 4;
  }

  header nav ul {
    justify-content: flex-end;
    gap: 3rem;
  }

  header h1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 3rem;
    padding: 0 38%;
  }

  header img:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

/****************SECTIONS****************/
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
  gap: 2rem;
}

section h2 {
  width: 100%;
  color: #a306b6;
  font-size: 1.5rem;
  font-weight: 900;
}

article {
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  padding: 1rem;
}

article img {
  width: 100%;
}

article h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

article button {
  padding: 0.5rem 2rem;
  background-color: #a306b6;
  color: white;
  border: none;
  border-radius: 16px;
  font-weight: 600;
}

section p {
  text-align: left;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  section {
    margin: 0 20%;
  }

  section h2 {
    font-size: 2.2rem;
  }

  section article {
    width: 30%;
  }

  article img {
    width: auto;
    height: 200px;
  }

  p {
    margin: 0 25%;
  }
}

/****************FOOTER****************/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  background-color: #d9d9d9;
  font-weight: 600;
}

footer span {
  color: red;
}

footer a {
  color: #a306b6;
}
